{% extends 'base.html' %}

{% block content %}

<!-- <div class="matrix-wrapper d-flex justify-content-center">
    <form action="/generate-image/{{ original_filename }}" method="POST">
        <table style="margin-left: 30px">
            {% set counter = 0 %}
            {% for row in input_filter %}
                <tr>
                    {% for item in row %}
                    <td>
                        <input type="number" name="{{ counter }}" class="matrix-input form-control mb-2 mr-sm-2" placeholder="{{ item }}" min="-20" max="20" step="1" value="{{ item }}">
                    </td>

                    {% set counter = counter + 1 %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>

        <div class="btn-wrapper">
            <button type="submit" class="button-style btn"> Apply Filter </button>
        </div>
    </form>
</div> -->



<div class="matrix-wrapper d-flex justify-content-center">
    <form action="/generate-image/{{ original_filename }}" method="POST">
        <table style="margin-left: 30px">
            <tr>
                <td>
                    <input type="number" name="r1c1" class="matrix-input form-control mb-2 mr-sm-2" placeholder="{{ input_filter[0][0] }}" min="-20" max="20" step="1" value="{{ input_filter[0][0] }}">
                </td>
                <td>
                    <input type="text" name="r1c2" class="matrix-input form-control mb-2 mr-sm-2" placeholder="{{ input_filter[0][1] }}" value="{{ input_filter[0][1] }}"/>
                </td>
                <td>
                    <input type="text" name="r1c3" class="matrix-input form-control mb-2 mr-sm-2" placeholder="{{ input_filter[0][2] }}" value="{{ input_filter[0][2] }}"/>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="r2c1" class="matrix-input form-control mb-2 mr-sm-2" placeholder="{{ input_filter[1][0] }}" value="{{ input_filter[1][0] }}"/>
                </td>
                <td>
                    <input type="text" name="r2c2" class="matrix-input form-control mb-2 mr-sm-2" placeholder="{{ input_filter[1][1] }}" value="{{ input_filter[1][1] }}"/>
                </td>
                <td>
                    <input type="text" name="r2c3" class="matrix-input form-control mb-2 mr-sm-2" placeholder="{{ input_filter[1][2] }}" value="{{ input_filter[1][2] }}"/>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="r3c1" class="matrix-input form-control mb-2 mr-sm-2" placeholder="{{ input_filter[2][0] }}" value="{{ input_filter[2][0] }}"/>
                </td>
                <td>
                    <input type="text" name="r3c2" class="matrix-input form-control mb-2 mr-sm-2" placeholder="{{ input_filter[2][1] }}" value="{{ input_filter[2][1] }}"/>
                </td>
                <td>
                    <input type="text" name="r3c3" class="matrix-input form-control mb-2 mr-sm-2" placeholder="{{ input_filter[2][2] }}" value="{{ input_filter[2][2] }}"/>
                </td>
            </tr>
        </table>

        <div class="btn-wrapper">
            <button type="submit" class="button-style btn"> Apply Filter </button>
        </div>
    </form>
</div>


<div class="image-wrapper" style="margin-bottom: 100px">
    {% if edited_filepath != "None" %}
    <div class="row original-image-wrapper">
        <div class="col-md-5 text-center">
            <h4 style="color: #EEEEEE">Original Image</h4>
            <img class="original-image" src="{{ original_filepath }}" alt="original-image">
        </div>
        <div class="col-md-2 text-center" style="padding-top: 250px">
            <h1>--></h1>
        </div>
        <div class="col-md-5 text-center">
            <h4 style="color: #EEEEEE">Edited Image</h4>
            <img class="filtered-image" src="{{ edited_filepath }}" alt="original-image">
        </div>
    </div>
    {% else %}
    <div class="row original-image-wrapper">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center">
            <h4 style="color: #EEEEEE">Original Image</h4>
            <img class="original-image" src="{{ original_filepath }}" alt="original-image">
        </div>
        <div class="col-md-3"></div>
    </div>
    {% endif %}
</div>



{% endblock %}
