{% extends 'base.html' %}

{% block content %}


<div class="matrix-wrapper d-flex justify-content-center">
    <form action="/generate-image">
        <table style="margin-left: 30px">
            <tr>
                <td>
                    <input type="text" name="r1c1" class="matrix-input form-control mb-2 mr-sm-2" placeholder="-1"/>
                </td>
                <td>
                    <input type="text" name="r1c2" class="matrix-input form-control mb-2 mr-sm-2" placeholder="-1"/>
                </td>
                <td>
                    <input type="text" name="r1c3" class="matrix-input form-control mb-2 mr-sm-2" placeholder="-1"/>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="r2c1" class="matrix-input form-control mb-2 mr-sm-2" placeholder="-1"/>
                </td>
                <td>
                    <input type="text" name="r2c2" class="matrix-input form-control mb-2 mr-sm-2" placeholder="8"/>
                </td>
                <td>
                    <input type="text" name="r2c3" class="matrix-input form-control mb-2 mr-sm-2" placeholder="-1"/>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="r3c1" class="matrix-input form-control mb-2 mr-sm-2" placeholder="-1"/>
                </td>
                <td>
                    <input type="text" name="r3c2" class="matrix-input form-control mb-2 mr-sm-2" placeholder="-1"/>
                </td>
                <td>
                    <input type="text" name="r3c3" class="matrix-input form-control mb-2 mr-sm-2" placeholder="-1"/>
                </td>
            </tr>
        </table>

        <div class="btn-wrapper">
            <button type="submit" class="button-style btn"> Choose Image </button>
            <button type="submit" class="button-style btn"> Apply Filter </button>
        </div>
    </form>
</div>



<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center">
        <img src="{{ filepath }}" style="height: 30%; width: auto" alt="original-image">
    </div>
    <div class="col-md-3"></div>
</div>


{% endblock %}
