{% extends 'base.html' %}

{% block content %}


<div class="matrix-wrapper d-flex justify-content-center">
    <form action="/generate-image/{{ original_filename }}" method="POST">
        <table style="margin-left: 30px">
            <tr>
                <td>
                    <input type="number" name="r1c1" class="matrix-input form-control mb-2 mr-sm-2" placeholder="-1" min="0" max="20" step="1" value="6">
                </td>
                <td>
                    <input type="text" name="r1c2" class="matrix-input form-control mb-2 mr-sm-2" placeholder="-1" value="-1"/>
                </td>
                <td>
                    <input type="text" name="r1c3" class="matrix-input form-control mb-2 mr-sm-2" placeholder="-1" value="-1"/>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="r2c1" class="matrix-input form-control mb-2 mr-sm-2" placeholder="-1" value="-1"/>
                </td>
                <td>
                    <input type="text" name="r2c2" class="matrix-input form-control mb-2 mr-sm-2" placeholder="8" value="-8"/>
                </td>
                <td>
                    <input type="text" name="r2c3" class="matrix-input form-control mb-2 mr-sm-2" placeholder="-1" value="-1"/>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="r3c1" class="matrix-input form-control mb-2 mr-sm-2" placeholder="-1" value="-1"/>
                </td>
                <td>
                    <input type="text" name="r3c2" class="matrix-input form-control mb-2 mr-sm-2" placeholder="-1" value="-1"/>
                </td>
                <td>
                    <input type="text" name="r3c3" class="matrix-input form-control mb-2 mr-sm-2" placeholder="-1" value="-1"/>
                </td>
            </tr>
        </table>

        <div class="btn-wrapper">
            <button type="submit" class="button-style btn"> Apply Filter </button>
        </div>
    </form>
</div>



<div class="row original-image-wrapper">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center">
        <img class="original-image" src="{{ original_filepath }}" alt="original-image">
    </div>
    <div class="col-md-3"></div>
</div>


{% endblock %}
