{% extends 'base.html' %}

{% block content %}

<div class="no-image-chosen-wrapper d-flex justify-content-center">
    <h2>You have not chosen an image yet! Choose an image!</h2>
</div>

<div class="image-upload-buttons-wrapper d-flex justify-content-center">
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <label style="margin-top: 9px;" class="btn button-style" for="my-file-selector">
            <input id="my-file-selector" type="file" name="file" style="display:none"
            onchange="$('#upload-file-info').html(this.files[0].name)">
            Choose Image
        </label>
        <span class='label input-file-label' id="upload-file-info"></span>
        <button type="submit" class="btn button-style"> Upload</button>
    </form>
</div>

{% endblock %}
